/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    margin: 0;
 }

 li {
    list-style: none;
 }

 ul {
    padding: 0;
    margin: 0;
 }

 td {
    text-align: center;
 }

 a {
    text-decoration: none;
 }

 p {
    margin: 0;
    color: #333333;
 }

 header {
    background-color: black;
    color: white;
    height: 80px;
    position: relative;
 }

 .header-img {
    display: inline-block;
    padding-top: 5px;
 }

 .header-right {
    display: inline-block;
    color: white;
    position: absolute;
    right: 30px;
    top: 10px;
 }

 .header-list {
    display: flex;
 }

 .header-list li {
    display: inline-block;
    margin-right: 10px;
 }
 
 .header-list a {
    color: white;
 }

 .align {
    align-self: center;
 }

 .line-bottom {
    border-bottom: 1px solid white;
 }

 .currentuser-img {
    width: 70px;
    display: inline-block;
 }

 .currentuser-img {
    display: inline-block;
 }

 .currentuser-img img {
    width: 100%;
 }

 .login-btn {
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
 }

 .regi-btn {
    background-color: #6c757d;
    color: white;
    padding: 10px;
    border-radius: 5px;
 }

 .flash {
    background-color: #add8e6;
    color: white;
    text-align: center;
 }

 footer {
    background-color: black;
    height: 100px;
 }

 .footer {
   color: white;
   text-align: center;
   padding-top: 40px;
 }